<nav class="navbar sticky-top navbar-expand-lg modern-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <span class="me-2">๐ฅฌ</span>
      <span>๋ฏธ๋ ์ฌ๊ณ๊ด๋ฆฌ</span>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <% if(!currentUser) { %>
          <a class="nav-link" href="/login">๋ก๊ทธ์ธ</a>
          <a class="nav-link" href="/register">ํ์๊ฐ์</a>
        <% } else { %>
          <a class="nav-link" href="/logout">๋ก๊ทธ์์</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
