<% layout('layouts/boilerplate') %>

    <div class="container">
        <h1>Create a New Post</h1>
        <form action="/postings" method="POST" enctype="multipart/form-data">
            <div class="form-group mt-2">
                <label for="title">Post Title</label>
                <input type="text" class="form-control" id="title" name="posting[title]" required>
            </div>

            <div class="form-group mt-2">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="posting[description]" rows="4" required></textarea>
            </div>

            <!-- <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div> -->

            <div class="form-group mt-2">
                <label for="image" class="form-label"></label>
                <input class="form-control" type="file" id="image" name="image">
            </div>

            <div class="form-group mt-2 mb-3">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="posting[location]">
            </div>

            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>